<html>
    <head>
        <meta charset='utf-8'>
        <title>Daniel Craig's List</title>
    </head>
    <body>
        <form action='/postings' method='post'>
            <h1>Hello, I'm Daniel Craig of England and the infamous Daniel Craig's List. Thank you kindly for visitig today. Post ya job, please? Kisses, Danny C.</h1>
            <label for='title'>Job Title: </label>
            <input id='title' name='title' type='text'>
            <label for='description'>Job Description: </label>
            <input id='description' name='description' type='text'>
            <label>Contact Information: </label>
            <label for='contact-name'>Name: </label>
            <input id='contact-name' name='contact-name' type='text'>
            <label for='contact-email'>Email: </label>
            <input id='contact-email' name='contact-email' type='text'>
            <label for='contact-phone'>Phone: </label>
            <input id='contact-phone' name='contact-phone' type='text'>
            <button type='submit'>There you are</button>
        </form>
    </body>
</html>
